<h1>Data Analysis and Preprocessing</h1>

In [1]:
# Data Manipulation Libraries
import pandas as pd 
import numpy as np

# Plotting Libraries
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load the dataset
Creditcard_data = pd.read_csv('C:\\Users\\Tsi\\Desktop\\10academy\\Week8\\data\\creditcard.csv',low_memory=False)
Fraud_data = pd.read_csv('C:\\Users\\Tsi\\Desktop\\10academy\\Week8\\data\\Fraud_Data.csv',low_memory=False)
IpAddress_data = pd.read_csv('C:\\Users\\Tsi\\Desktop\\10academy\\Week8\\data\\IpAddress_to_Country.csv',low_memory=False)

<h1>Overview of the Data:</h1>

<h2>Creditcard_data</h2>

In [4]:
# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(Creditcard_data.head())

First few rows of the dataset:
   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [5]:
#Displays a concise summary of the Creditcard_data DataFrame, including row/column count, data types, and non-null values.
Creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# Returns the number of rows and columns in the Creditcard_data DataFrame.
Creditcard_data.shape

(284807, 31)

<h2>Fraud_data</h2>

In [7]:
# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(Fraud_data.head())

First few rows of the dataset:
   user_id          signup_time        purchase_time  purchase_value  \
0    22058  2015-02-24 22:55:49  2015-04-18 02:47:11              34
1   333320  2015-06-07 20:39:50  2015-06-08 01:38:54              16
2     1359  2015-01-01 18:52:44  2015-01-01 18:52:45              15
3   150084  2015-04-28 21:13:25  2015-05-04 13:54:50              44
4   221365  2015-07-21 07:09:52  2015-09-09 18:40:53              39

       device_id source browser sex  age    ip_address  class
0  QVPSPJUOCKZAR    SEO  Chrome   M   39  7.327584e+08      0
1  EOGFQPIZPYXFZ    Ads  Chrome   F   53  3.503114e+08      0
2  YSSKYOSJHPPLJ    SEO   Opera   M   53  2.621474e+09      1
3  ATGTXKYKUDUQN    SEO  Safari   M   41  3.840542e+09      0
4  NAUITBZFJKHWW    Ads  Safari   M   45  4.155831e+08      0

In [8]:
#Displays a concise summary of the data DataFrame, including row/column count, data types, and non-null values.
Fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_time     151112 non-null  object
 2   purchase_time   151112 non-null  object
 3   purchase_value  151112 non-null  int64
 4   device_id       151112 non-null  object
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   ip_address      151112 non-null  float64
 10  class           151112 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 12.7+ MB

In [9]:
# Returns the number of rows and columns in the Fraud_data DataFrame.
Fraud_data.shape

(151112, 11)

<h2>IpAddress_data</h2>

In [14]:
# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(IpAddress_data.head())

First few rows of the dataset:
   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [15]:
#Displays a concise summary of the data DataFrame, including row/column count, data types, and non-null values.
IpAddress_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   lower_bound_ip_address  138846 non-null  float64
 1   upper_bound_ip_address  138846 non-null  int64
 2   country                 138846 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

In [16]:
# Returns the number of rows and columns in the Fraud_data DataFrame.
IpAddress_data.shape

(138846, 3)

<h1>Summary Statistics</h1>

In [18]:
# Generates descriptive statistics for the numeric columns in the 'data' DataFrame
Creditcard_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [19]:
# Generates descriptive statistics for the numeric columns in the 'data' DataFrame
Fraud_data.describe()

,user_id,purchase_value,age,ip_address,class
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000

In [20]:
# Generates descriptive statistics for the numeric columns in the 'data' DataFrame
IpAddress_data.describe()

       lower_bound_ip_address  upper_bound_ip_address
count            1.388460e+05            1.388460e+05
mean             2.724532e+09            2.724557e+09
std              8.975215e+08            8.974979e+08
min              1.677722e+07            1.677747e+07
25%              1.919930e+09            1.920008e+09
50%              3.230887e+09            3.230888e+09
75%              3.350465e+09            3.350466e+09
max              3.758096e+09            3.758096e+09

<h1>Handle Missing Values</h1>

In [21]:
# Check for missing values in fraud_data
print("Missing Values in Credit Card Data:")
print(Creditcard_data.isnull().sum())

# Check for missing values in ip_data
print("\nMissing Values in Fraud Data:")
print(Fraud_data.isnull().sum())

# Check for missing values in creditcard_data
print("\nMissing Values in IP Address Data:")
print(IpAddress_data.isnull().sum())

# drop rows with missing values
Creditcard_data = Creditcard_data.dropna()
Fraud_data = Fraud_data.dropna()
IpAddress_data = IpAddress_data.dropna()

Missing Values in Credit Card Data:
Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

Missing Values in Fraud Data:
user_id           0
signup_time       0
purchase_time     0
purchase_value    0
device_id         0
source            0
browser           0
sex               0
age               0
ip_address        0
class             0
dtype: int64

Missing Values in IP Address Data:
lower_bound_ip_address    0
upper_bound_ip_address    0
country                   0
dtype: int64

<h1>Data Cleaning</h1>

<h2>Remove duplicates</h2>

In [24]:
# Remove duplicates
Creditcard_data = Creditcard_data.drop_duplicates()
Fraud_data = Fraud_data.drop_duplicates()
IpAddress_data = IpAddress_data.drop_duplicates()

<h2>Convert data types</h2>

In [25]:
# Convert data types if necessary
Fraud_data['signup_time'] = pd.to_datetime(Fraud_data['signup_time'])
Fraud_data['purchase_time'] = pd.to_datetime(Fraud_data['purchase_time'])
Fraud_data['user_id'] = Fraud_data['user_id'].astype(str)
Fraud_data['device_id'] = Fraud_data['device_id'].astype(str)
Fraud_data['ip_address'] = Fraud_data['ip_address'].astype(str)

# Convert IP address columns to integers
IpAddress_data['lower_bound_ip_address'] = IpAddress_data['lower_bound_ip_address'].astype(int)
IpAddress_data['upper_bound_ip_address'] = IpAddress_data['upper_bound_ip_address'].astype(int)

Creditcard_data['Time'] = Creditcard_data['Time'].astype(float)
Creditcard_data['Amount'] = Creditcard_data['Amount'].astype(float)

<h1>Exploratory Data Analysis (EDA)</h1>